h1.thick-heading {
    clear: both;
    color: #aaa;
    display: block;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    line-height: 36px;
    border-width: 0;
    font-size: 36px;
    visibility: visible;
    opacity: 1;
    margin-top: 92px;
}